.mainComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;  
}
.cardContainer{
    border: 1px solid black;
    height: 13rem;
    width: 18rem;
    background-color: transparent;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.251);
}
.locationName{
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
.logo{
    font-size: 2rem;
    color: yellow;
}
.value{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.description{
    font-size: 1.2rem;
    color:rgb(62, 55, 55);
    margin: 0px;
    padding: 0px;
}
.subHeading{
    font-size: 1.2rem;
    color: black;
    margin: 0px;
    padding: 0px;
}
.resolvedAdress{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin: 0px;
    padding: 0px;

}
.loader{
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #1392e6;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 10s linear infinite;    
    animation: spin 0.5s linear infinite;

}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }